<html>
<head>
    <title>upload</title>
</head>
<body bgcolor="#ccffff">
<div align="center">
    <h1>ENCODE</h1>
    <h2>Enter an Image</h2>
    <hr><br>
    <form action = "/encodesuccess" method = "post" enctype="multipart/form-data">
        Text to be hidden : <br>
        <input type ="text" name="lmao" required><br><br>
        Secret Key : <br>
        <input type=text" name="Key" required><br><br>
        Image to hide in: <br>
        <input type="file" name="file" required /><br><br>
        <input type = "submit" value="Upload">
    </form>
</div>
</body>
</html>